<a href="https://colab.research.google.com/github/bbchen33/Codon-Usage/blob/master/Get_codon_usage.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Note that the function uses the standard codon table but some organisms may have different codon usage such as TAG codes for selenocysteine instead of a stop codon.

In [0]:
import textwrap
import pandas
pandas.options.mode.chained_assignment = None
pandas.set_option('display.max_rows', None)
def getCodonUsage(DNAsequence):
  assert type(DNAsequence) == str, 'Input must be DNA sequence(s)' 
  assert len(DNAsequence)%3 == 0, 'Input sequence must encode a gene/ divisible by 3'
  DNAsequence = DNAsequence.upper()
  assert False not in [x in ['A','T','C','G'] for x in DNAsequence], 'DNA sequence must be letters A, T, C or G'
  CodonTable = {'TTT':'Phe','TTC':'Phe','TTA':'Lue','TTG':'Lue','CTT':'Lue','CTC':'Lue',
                'CTA':'Lue','CTG':'Lue','ATT':'Ile','ATC':'Ile','ATA':'Ile','ATG':'Met',
                'GTT':'Val','GTC':'Val','GTA':'Val','GTG':'Val','TCT':'Ser','TCC':'Ser',
                'TCA':'Ser','TCG':'Ser','CCT':'Pro','CCC':'Pro','CCA':'Pro','CCG':'Pro',
                'ACT':'Thr','ACC':'Thr','ACA':'Thr','ACG':'Thr','GCT':'Ala','GCC':'Ala',
                'GCA':'Ala','GCG':'Ala','TAT':'Tyr','TAC':'Tyr','TAA':'Terminator',
                'TAG':'Terminator','CAT':'His','CAC':'His','CAA':'Gln','CAG':'Gln',
                'AAT':'Asn','AAC':'Asn','AAA':'Lys','AAG':'Lys','GAT':'Asp','GAC':'Asp',
                'GAA':'Glu','GAG':'Glu','TGT':'Cys','TGC':'Cys','TGA':'Terminator',
                'TGG':'Trp','CGT':'Arg','CGC':'Arg','CGA':'Arg','CGG':'Arg','AGT':'Ser',
                'AGC':'Ser','AGA':'Arg','AGG':'Arg','GGT':'Gly','GGC':'Gly','GGA':'Gly','GGG':'Gly'}
  chuncks_of_three = textwrap.wrap(DNAsequence, 3)
  collection = {}
  for bases in chuncks_of_three:
    if bases not in collection:
      collection[bases] = 0
    collection[bases] += 1
  CodonAndNumber = {}
  for key in CodonTable:
    if key in collection:
      CodonAndNumber [key] = (CodonTable[key], collection[key])
    else:
      CodonAndNumber[key] = (CodonTable[key], 0)

  CodonAndNumber_df = pandas.DataFrame(CodonAndNumber)
  CodonAndNumber_df = CodonAndNumber_df.transpose()
  new_collection = {}
  for codon in CodonAndNumber_df[0]:
    new_collection[codon] = CodonAndNumber_df[1][CodonAndNumber_df[0] == codon].sum()
  codon_list = list(CodonAndNumber_df[0])
  frequency = []
  for i in range(len(CodonAndNumber_df)):
    frequency.append(new_collection[codon_list[i]])
  CodonAndNumber_df[2] = frequency
  # assign 0 to column 3 as the placeholder
  CodonAndNumber_df[3] = 0
  for i in range(len(CodonAndNumber_df)):
    if CodonAndNumber_df[2][i] != 0:
      CodonAndNumber_df[3][i] = 100*CodonAndNumber_df[1][i]/CodonAndNumber_df[2][i]
        
  CodonAndNumber_df.columns = ['amino_acids', 'numbers_in_the_gene', 'total_of_the_aa', 'percentage_used']
  return CodonAndNumber_df

In [33]:
getCodonUsage('ATGCCTGCTCTTGTTATCAAGACCAACGCTAAATTCACAGAGGAAGAGAAGTCCAAGGCCACCGAGGAACTCGGAAACATTGTTTCCAAGGTTCTTGGAAAGCCAATCTCTTATGTCATGGTCACATTAGAGGATGGTGTTGCTGTTAGATTCGGTGGCAGTGACGAGAAGGCTGCTTTCATGTCCCTCATGTCAATTGGTGGACTTAACAGAGCTGTTAACAAGAGGGCATCTGCTGCTCTCACAAAGTGGTTCACAGACCATGGTTTCCAGGGCGATCGCATTTACATCGTCTTCAATCCAAAGAGTGCTGAGGACTGGGGCTTCAATGGTGACACATTTGCCTAA')

    amino_acids numbers_in_the_gene  total_of_the_aa  percentage_used
TTT         Phe                   1                8               12
TTC         Phe                   7                8               87
TTA         Lue                   1                7               14
TTG         Lue                   0                7                0
CTT         Lue                   3                7               42
CTC         Lue                   3                7               42
CTA         Lue                   0                7                0
CTG         Lue                   0                7                0
ATT         Ile                   3                6               50
ATC         Ile                   3                6               50
ATA         Ile                   0                6                0
ATG         Met                   4                4              100
GTT         Val                   6                9               66
GTC         Val                   3                9               33
GTA         Val                   0                9                0
GTG         Val                   0                9                0
TCT         Ser                   2                8               25
TCC         Ser                   3                8               37
TCA         Ser                   1                8               12
TCG         Ser                   0                8                0
CCT         Pro                   1                3               33
CCC         Pro                   0                3                0
CCA         Pro                   2                3               66
CCG         Pro                   0                3                0
ACT         Thr                   0                7                0
ACC         Thr                   2                7               28
ACA         Thr                   5                7               71
ACG         Thr                   0                7                0
GCT         Ala                   9               12               75
GCC         Ala                   2               12               16
GCA         Ala                   1               12                8
GCG         Ala                   0               12                0
TAT         Tyr                   1                2               50
TAC         Tyr                   1                2               50
TAA  Terminator                   1                1              100
TAG  Terminator                   0                1                0
CAT         His                   1                1              100
CAC         His                   0                1                0
CAA         Gln                   0                1                0
CAG         Gln                   1                1              100
AAT         Asn                   2                6               33
AAC         Asn                   4                6               66
AAA         Lys                   1               10               10
AAG         Lys                   9               10               90
GAT         Asp                   2                6               33
GAC         Asp                   4                6               66
GAA         Glu                   2                8               25
GAG         Glu                   6                8               75
TGT         Cys                   0                0                0
TGC         Cys                   0                0                0
TGA  Terminator                   0                1                0
TGG         Trp                   2                2              100
CGT         Arg                   0                4                0
CGC         Arg                   1                4               25
CGA         Arg                   0                4                0
CGG         Arg                   0                4                0
AGT         Ser                   2                8               25
AGC         Ser                   0                8                0
AGA         Arg                   2                4               50
AGG         Arg                   1                4               25
GGT         Gly                   5               11               45
GGC         Gly                   3               11               27
GGA         Gly                   3               11               27
GGG         Gly                   0               11                0